@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

html {
  font-size: 16px; /* keep default */
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
