/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

html {
  font-size: 16px; /* keep default */
/*}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Utility font classes */
.font-jomhuria {
  font-family: "Jomhuria", cursive;
}

.font-crimson {
  font-family: "Crimson Text", serif;
}
